<%- include('partials/head') -%>
<%- include('partials/navbar') -%>
<div class="container">
  <div class="row mt-2">
    <div class="col">
      <span><strong>Signed in as</strong>: <%= user.userName %></span><br>
    </div>
  </div>

  <div class="row mt-2">
    <div class="">
      <h2>Friends</h2>
      <a href="/profile/<%= user.id %>">Send your profile URL to friends</a>
      <table class="table" id="friendTable">
        <tr>
          <th class="col-4">Friend</th>
          <th>Birthday (yyyy-mm-dd)</th>
        </tr>
        <% for(let i = 0; i < friendList.friends.length; i++){ %>
          <tr>
            <td>
              <a href="/profile/<%= friendList.friends[i].id %>"> <%=friendList.friends[i].userName %></a>
            </td>
            <td><%= friendList.friends[i].birthday %></td>
          </tr>
        <% } %>
      </table>
    </div>
  </div>

</div>
<script src="/js/main.js"></script>

<%- include('partials/footer') -%>

