<%- include('partials/head') -%>
<%- include('partials/navbar') -%>
<div class="container">
  <div class="row mt-2">
    <div class="col">
      <span><strong>Signed in as</strong>: <%= user.userName %></span><br>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="mt-1">
        <h2>Add a gift</h2>
        <form action="/gift/addGift" method="POST">
          <div class="mb-3">
            <label for="gift" class="form-label">Gift</label>
            <input type="text" class="form-control" id="gift" name="gift">
          </div>
          <div class="mb-3">
            <label for="link" class="form-label">Link</label>
            <input class="form-control" id="link" name="link"></input>
          </div>
          <div class="mb-3">
            <label for="note" class="form-label">Notes</label>
            <textarea class="form-control" id="note" name="note"></textarea>
          </div>
          <button type="submit" class="btn btn-primary" value="Upload">Submit</button>
        </form>
      </div>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-12 align-items-center">
      <div class="d-flex justify-content-between align-items-center">
        <h2 class="">Wishlist</h2>
        <div class="form-check form-switch ">
          <label class="form-check-label " for="toggleBtn">Show Claimed Gifts</label>
          <input class="form-check-input" type="checkbox" role="switch" id="toggleBtn">
        </div>
      </div>

      <table class="col-12 table">
        <tr class="col-12 justify-content-center ">
          <th>Gift</th>
          <th class="">Note</th>
          <th class="toggle d-none">Claimed?</th>
          <th class="toggle d-none">Claimed By</th>
        </tr>
        <% for(let i=0; i<gifts.length; i++) {%>
          <tr class="col-12">
            <td class="align-text-center">
              <a href="<%= gifts[i].link %>" target="_blank"> <%= gifts[i].gift %></a>
            </td>
            <td class="align-text-center"> <%= gifts[i].note %> </td>
            <td class="align-text-center toggle d-none">
              <% if(!gifts[i].claimedBy){ %>
                <form action="/gift/claimGift/<%= gifts[i].id %>?_method=PUT" method="POST">
                  <button type="submit" class="btn btn-primary">Claim!</button>
                </form>
                <% }else if(gifts[i].claimedBy.id === user.id){ %>
                  <form action="/gift/unclaimGift/<%= gifts[i].id %>?_method=PUT" method="POST">
                    <button type="submit" class="btn btn-warning">Unclaim</button>
                  </form>
                <% }else{ %>
                  <button class="btn btn-secondary">Claimed</button>
                <% } %>
            </td>
            <td class="align-text-center toggle d-none" data-id=" <%= gifts[i]._id%>"> 
              <% if(gifts[i].claimed) { %>
              <%= gifts[i].claimedBy.userName %> 
              <% }else{%> 
                <form action="/gift/deleteGift/<%= gifts[i].id %>?_method=DELETE" method="POST">
                  <button type="submit" class="btn btn-danger">Delete</button>
                </form> 
                <% } %>
            </td>

          </tr>
        <% } %>
      </table>
    </div>
  </div>

  <div class="row mt-2">
    <div class="">
      <h2>Friends</h2>
      <table class="table" id="friendTable">
        <tr>
          <th>Friend</th>
          <th>Birthday (yyyy-mm-dd)</th>
        </tr>
        <% for(let i = 0; i < friendList.friends.length; i++){ %>
          <tr>
            <td>
              <a href="/profile/<%= friendList.friends[i].id %>"> <%=friendList.friends[i].userName %></a>
            </td>
            <td><%= friendList.friends[i].birthday %></td>
          </tr>
        <% } %>
      </table>
    </div>
  </div>

</div>
<script src="/js/main.js"></script>

<%- include('partials/footer') -%>

